@import "~bootstrap/scss/bootstrap.scss";

.red {
    border: 2px solid red;
    margin: 20px;
}

.green {
    border: 2px solid green;
    margin: 20px;
}

.blue {
    border: 2px solid blue;
    margin: 20px;
}